<!-- Navbar -->
<nav class="navbar">
    <div class="left">
        <a class="navbar-brand logo" style="text-decoration: none;" href="/products">ShopEasy</a>
    </div>
    <div class="add-product"><a href="/adminDashboard/addProduct">Add New Product</a>
    </div>

    <div class="auth-links">
        <% if (currentUser) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>
</nav>