    <!-- Navbar -->
    <nav class="navbar">
        <div class="left">
            <a  class="navbar-brand logo" style="text-decoration: none;" href="/products">ShopEasy</a></div>
            <div class="add-product"><a href="/adminDashboard/addProduct">Add New Product</a>
        </div>
        
        <div class="auth-links">
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>