<header class="navbar">
    <nav>
        <a class="navbar-brand logo" href="/products">ShopEasy</a>
        <!-- <a href="/products">Home</a> -->
        <a href="/products">Products</a>
    </nav>
    <div class="auth-links">
        <a href="#" id="cart-link">Cart (0)</a>
        <% if (currentUser) { %>
            <a href="/profile">Profile</a> <!-- Link to the user profile page -->
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>
</header>
