<header class="navbar">
    <a class="navbar-brand logo" href="/products">ShopEasy</a>
    <nav>
        <a href="/products">Home</a>
        <a href="/products">Products</a>
        <a href="#" id="cart-link">Cart (0)</a>
    </nav>
</header>